# HW8

Each of these questions is related to material in Topic 1.8.

In [2]:
name = "Leonid"              # Enter your name
user = "rempell"              # Enter your BC username
print("HW8 submission for {} ({})".format(name,user))

HW8 submission for Leonid (rempell)

Please rename the file so that it includes your BC username. For example, I would change <b>HW8</b> to <b>HW8-reuterj</b> and upload <b>HW8-reuterj.ipynb</b> to Canvas.

In [3]:
import re

<br>
<b>Fun with Regex</b>

After creating your code, please run the code that verifies that your answer matches my answer.

<b>(1 point) 1a.</b> Use <b>re.findall()</b> to extract each of the letters from string 'a'. Each letter should be its own element in the new list 'l1' (i.e., the first element of 'l1' should be 'a' and the second element should be 'b').

In [5]:
a = '01ab23cd4e56fgh789ijklmno'

In [7]:
help(re.findall)

Help on function findall in module re:

findall(pattern, string, flags=0)
    Return a list of all non-overlapping matches in the string.

    If one or more capturing groups are present in the pattern, return
    a list of groups; this will be a list of tuples if the pattern
    has more than one group.

    Empty matches are included in the result.

In [14]:
l1 = re.findall('\D',a)

In [15]:
l1 == ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

True

<b>(1 point) 1b.</b> Use <b>re.findall()</b> twice. First, extract all of the collections of letters (e.g., 'fgh') from string 'a' and store them in new list 'l2'. Second, extract all of the numbers (e.g., '56') from string 'a' and store them in new list 'l3'.

In [19]:
l2 = re.findall('[a-z]+',a)
print(l2)

['ab', 'cd', 'e', 'fgh', 'ijklmno']

In [20]:
l2 == ['ab', 'cd', 'e', 'fgh', 'ijklmno']

True

In [21]:
l3 = re.findall('\d+',a)

In [22]:
l3 == ['01', '23', '4', '56', '789']

True

<b>(1 point) 1c.</b> Use <b>re.findall()</b> to convert the string 'b' into a list of tuples where tuple is of the form (number,item name). Name this list 'l4'.

In [212]:
b = '5 Golden Rings\n4 Calling Birds\n3 French Hens\n2 Turtle Doves\n1 Partridge in a Pear Tree\n'

In [189]:
l4 = re.findall(r'(\d)\s(.+)',b)
print(l4)

[('5', 'Golden Rings'), ('4', 'Calling Birds'), ('3', 'French Hens'), ('2', 'Turtle Doves'), ('1', 'Partridge in a Pear Tree')]

In [190]:
l4 == [('5', 'Golden Rings'), ('4', 'Calling Birds'), ('3', 'French Hens'), ('2', 'Turtle Doves'), ('1', 'Partridge in a Pear Tree')]

True

<b>(1 point) 1d.</b> Use <b>re.findall()</b> to create a list containing all words in string 'c' that begin with an uppercase character and are more than five letters long. Name this list 'l5'.

In [191]:
c = 'On the seventh day of Christmas\nmy true love sent to me:\nSeven Swans a Swimming\n'

In [195]:
l5 = re.findall(r'[A-Z]\w{5,}',c)

In [196]:
l5 == ['Christmas', 'Swimming']

True

<b>(2 points) 2.</b> Use <b>re.findall()</b> that extracts both of the email addresses from string 'd'. You may take advantage of the fact that both email addresses have one period to the left of the @ and one period to the right, but should not hardcode any other features of the email addresses. Name the list containing email addresses 'l6'.

In [197]:
d = 'billy@@ ! -- ggateeew Bill.Gates@MSFT.com ##@abc bg@MSFT...net tim.cook@apple.com abc.def.ghi@'

In [210]:
l6 = re.findall(r'\w+\.+\w+.@\w+\.com',d)

In [211]:
l6 == ['Bill.Gates@MSFT.com', 'tim.cook@apple.com']

True

<b>(2 points) 3.</b> Use <b>re.findall()</b> to extract the three dollar amounts from string 'e'. Ideally, you would use a single regex to match all three numbers. Your answer should retain the dollar signs, commas, and periods associated with each number. Name the list containing these three dollar amounts 'l7'.

In [272]:
e = '10, 2.0, 3.00, $3.14, 42, $1,234,567, 867-5390, 1,234,567, 31.4, $1000000, 4'
print(e)

10, 2.0, 3.00, $3.14, 42, $1,234,567, 867-5390, 1,234,567, 31.4, $1000000, 4

In [299]:
l7 = re.findall(r'\$\d[,]\d+[,]\d+|\$\d+\.\d+|\$\d+|\$\.+',e)
print(l7)

['$3.14', '$1,234,567', '$1000000']

In [300]:
l7 == ['$3.14', '$1,234,567', '$1000000']

True

<b>(2 points) 4.</b> Use <b>re.findall()</b> to extract product names and dollar sales (denominated in $millions) for the three months ended 6/29/19 from "HW8_AAPL.txt'. The resulting list 'l8' should be a list containing four tuples of the form (product name, sales). Exclude total net sales from your list (before, during, or after using <b>re.findall()</b>). Ignore anything else in the file.

In [316]:
import os
os.getcwd()

'/Users/leonrem/Desktop/Data Analytics/Homeworks'

In [454]:
file = "HW8_AAPL.txt"
f = open(file, 'r')
lines = f.read()
f.close()
sales = lines
print(sales)

AAPL Disaggregated Revenue (from 10-Q filed 07/31/19)

Three months ended              6/29/19        6/30/18
iPhone (1)			 	25,986	   29,470
Mac (1)						 5,820	    5,258
iPad (1)			 5,023	    4,634
Wearables (2)	 5,525	    3,733
Services (3)				11,455	   10,170
     Total net sales (4)	53,809	   53,265

(1) Products net sales include amortization of the deferred value of unspecified software upgrade rights, which are bundled in the sales price of the respective product.
(2) Wearables, Home and Accessories net sales include sales of AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch and Apple-branded and third-party accessories.
(3) Services net sales include sales from the Companyâ€™s digital content stores and streaming services, AppleCare, Apple Pay, licensing and other services. Services net sales also include amortization of the deferred value of Maps, Siri and free iCloud services, which are bundled in the sales price of certain products.

In [547]:
l8 = re.findall(r"([A-Za-z]*) \(\d\)\s+(\d*\,\d*)", sales)
print(l8)

[('iPhone', '25,986'), ('Mac', '5,820'), ('iPad', '5,023'), ('Wearables', '5,525'), ('Services', '11,455'), ('sales', '53,809')]

In [551]:
del l8[5]

In [552]:
l8 == [('iPhone', '25,986'), ('Mac', '5,820'), ('iPad', '5,023'), ('Wearables', '5,525'), ('Services', '11,455')]

True